@inject ISelectListHelper SelectList
@inject Localizer Localizer

@{
    ViewData["Title"] = "Worksheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-card-profile__pic-wrapper {
        margin: 0 !important;
    }

    .m-portlet__head.m-portlet__body {
        padding: 1.9rem 1.9rem !important;
    }
</style>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="m-portlet m-portlet--border-bottom-warning ">
            <div class="m-portlet__body">
                <div class="m-widget26">
                    <div class="m-widget26__number">
                        690
                        <small>All appointments</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="m-portlet m-portlet--border-bottom-info ">
            <div class="m-portlet__body">
                <div class="m-widget26">
                    <div class="m-widget26__number">
                        690
                        <small>All Patients</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="m-portlet m-portlet--border-bottom-success ">
            <div class="m-portlet__body">
                <div class="m-widget26">
                    <div class="m-widget26__number" style="display: inline-block; width: 19%;">
                        15 / 40
                        <small>Today's progress</small>
                    </div>
                    <div style="display: inline-block; width: 80%;">
                        <div class="progress m-progress--lg w-100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success font-weight-bold" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="320" style="width: 32%">15/40</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @**@
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="m-portlet m-portlet--responsive-mobile">
            <div class="m-accordion m-accordion--default p-4" id="m_accordion_1" role="tablist">
                <!--begin::Item-->
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head" role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="true">
                        <span class="m-accordion__item-icon"><i class="fa flaticon-users"></i></span>
                        <span class="m-accordion__item-title">
                            Dnevni raspored pregleda &nbsp;<span class="m-badge m-badge--danger">
                                5
                            </span>
                        </span>
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_accordion_1_item_1_body" role="tabpanel" aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1" style="">
                        <div class="m-accordion__item-content">
                            <p>
                                <div id="">
                                    <ul id="sortable" class="row d-flex list-unstyled sortable">
                                        <li class="col-sm-12 col-md-4 col-lg-3 ui-state-default">
                                            <div class="m-portlet m-portlet--mobile m-portlet--sortable border" style="">
                                                <div class="m-portlet__body m-portlet__head ui-sortable-handle">
                                                    <div class="m-card-profile__details">
                                                        <h6 class="">
                                                            <span class="m-badge  m-badge--success m-badge--wide">Zakazan termin</span>
                                                        </h6>
                                                    </div>
                                                    <h6 class="pull-right"><i class="flaticon-calendar text-success"></i>&nbsp; 10:00 - 10:20 </h6>
                                                </div>
                                                <div class="m-portlet__body p-3 row">
                                                    <div class="col-md-4">
                                                        <div class="m-card-profile ">
                                                            <div class="m-card-profile__title m--hide">
                                                                Your Profile
                                                            </div>
                                                            <div class="m-card-profile__pic">
                                                                <div class="m-card-profile__pic-wrapper mt-2 mb-2">
                                                                    <img src="/app/media/img/users/user3.jpg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget5__section col-md-8">
                                                        <h6 class="m-widget5__title">Kontrola</h6>
                                                        <span class="">Pacijentu potrebna kontrola, popravak zuba...</span>
                                                    </div>

                                                    <div class="col-md-4 text-center">
                                                        <h6 class="">Mujo Mujić</h6>
                                                        <h7>KA-224-C</h7>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Author:
                                                                </span>
                                                                <span class="m--font-info">
                                                                    Sestra sa kartoteke
                                                                </span>
                                                            </span>
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Released:
                                                                </span>
                                                                <span class=" m--font-info">
                                                                    25.08.17
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-12 col-md-4 col-lg-3 ui-state-default">
                                            <div class="m-portlet m-portlet--mobile m-portlet--sortable border" style="">
                                                <div class="m-portlet__body m-portlet__head ui-sortable-handle">
                                                    <div class="m-card-profile__details">
                                                        <h6 class="">
                                                            <span class="m-badge  m-badge--success m-badge--wide">Zakazan termin</span>
                                                        </h6>
                                                    </div>
                                                    <h6 class="pull-right"><i class="flaticon-calendar text-success"></i>&nbsp; 10:00 - 10:20 </h6>
                                                </div>
                                                <div class="m-portlet__body p-3 row">
                                                    <div class="col-md-4">
                                                        <div class="m-card-profile ">
                                                            <div class="m-card-profile__title m--hide">
                                                                Your Profile
                                                            </div>
                                                            <div class="m-card-profile__pic">
                                                                <div class="m-card-profile__pic-wrapper mt-2 mb-2">
                                                                    <img src="/app/media/img/users/user3.jpg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget5__section col-md-8">
                                                        <h6 class="m-widget5__title">Kontrola</h6>
                                                        <span class="">Pacijentu potrebna kontrola, popravak zuba...</span>
                                                    </div>

                                                    <div class="col-md-4 text-center">
                                                        <h6 class="">Mujo Mujić</h6>
                                                        <h7>KA-224-C</h7>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Author:
                                                                </span>
                                                                <span class="m--font-info">
                                                                    Sestra sa kartoteke
                                                                </span>
                                                            </span>
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Released:
                                                                </span>
                                                                <span class=" m--font-info">
                                                                    25.08.17
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-12 col-md-4 col-lg-3 ui-state-default">
                                            <div class="m-portlet m-portlet--mobile m-portlet--sortable border" style="">
                                                <div class="m-portlet__body m-portlet__head ui-sortable-handle">
                                                    <div class="m-card-profile__details">
                                                        <h6 class="">
                                                            <span class="m-badge  m-badge--success m-badge--wide">Zakazan termin</span>
                                                        </h6>
                                                    </div>
                                                    <h6 class="pull-right"><i class="flaticon-calendar text-success"></i>&nbsp; 10:00 - 10:20 </h6>
                                                </div>
                                                <div class="m-portlet__body p-3 row">
                                                    <div class="col-md-4">
                                                        <div class="m-card-profile ">
                                                            <div class="m-card-profile__title m--hide">
                                                                Your Profile
                                                            </div>
                                                            <div class="m-card-profile__pic">
                                                                <div class="m-card-profile__pic-wrapper mt-2 mb-2">
                                                                    <img src="/app/media/img/users/user3.jpg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget5__section col-md-8">
                                                        <h6 class="m-widget5__title">Kontrola</h6>
                                                        <span class="">Pacijentu potrebna kontrola, popravak zuba...</span>
                                                    </div>

                                                    <div class="col-md-4 text-center">
                                                        <h6 class="">Mujo Mujić</h6>
                                                        <h7>KA-224-C</h7>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Author:
                                                                </span>
                                                                <span class="m--font-info">
                                                                    Sestra sa kartoteke
                                                                </span>
                                                            </span>
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Released:
                                                                </span>
                                                                <span class=" m--font-info">
                                                                    25.08.17
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-12 col-md-4 col-lg-3 ui-state-default">
                                            <div class="m-portlet m-portlet--mobile m-portlet--sortable border" style="">
                                                <div class="m-portlet__body m-portlet__head ui-sortable-handle">
                                                    <div class="m-card-profile__details">
                                                        <h6 class="">
                                                            <span class="m-badge  m-badge--success m-badge--wide">Zakazan termin</span>
                                                        </h6>
                                                    </div>
                                                    <h6 class="pull-right"><i class="flaticon-calendar text-success"></i>&nbsp; 10:00 - 10:20 </h6>
                                                </div>
                                                <div class="m-portlet__body p-3 row">
                                                    <div class="col-md-4">
                                                        <div class="m-card-profile ">
                                                            <div class="m-card-profile__title m--hide">
                                                                Your Profile
                                                            </div>
                                                            <div class="m-card-profile__pic">
                                                                <div class="m-card-profile__pic-wrapper mt-2 mb-2">
                                                                    <img src="/app/media/img/users/user3.jpg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget5__section col-md-8">
                                                        <h6 class="m-widget5__title">Kontrola</h6>
                                                        <span class="">Pacijentu potrebna kontrola, popravak zuba...</span>
                                                    </div>

                                                    <div class="col-md-4 text-center">
                                                        <h6 class="">Mujo Mujić</h6>
                                                        <h7>KA-224-C</h7>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Author:
                                                                </span>
                                                                <span class="m--font-info">
                                                                    Sestra sa kartoteke
                                                                </span>
                                                            </span>
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Released:
                                                                </span>
                                                                <span class=" m--font-info">
                                                                    25.08.17
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-12 col-md-4 col-lg-3 ui-state-default">
                                            <div class="m-portlet m-portlet--mobile m-portlet--sortable border" style="">
                                                <div class="m-portlet__body m-portlet__head ui-sortable-handle">
                                                    <div class="m-card-profile__details">
                                                        <h6 class="">
                                                            <span class="m-badge  m-badge--success m-badge--wide">Zakazan termin</span>
                                                        </h6>
                                                    </div>
                                                    <h6 class="pull-right"><i class="flaticon-calendar text-success"></i>&nbsp; 10:00 - 10:20 </h6>
                                                </div>
                                                <div class="m-portlet__body p-3 row">
                                                    <div class="col-md-4">
                                                        <div class="m-card-profile ">
                                                            <div class="m-card-profile__title m--hide">
                                                                Your Profile
                                                            </div>
                                                            <div class="m-card-profile__pic">
                                                                <div class="m-card-profile__pic-wrapper mt-2 mb-2">
                                                                    <img src="/app/media/img/users/user3.jpg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget5__section col-md-8">
                                                        <h6 class="m-widget5__title">Kontrola</h6>
                                                        <span class="">Pacijentu potrebna kontrola, popravak zuba...</span>
                                                    </div>

                                                    <div class="col-md-4 text-center">
                                                        <h6 class="">Mujo Mujić</h6>
                                                        <h7>KA-224-C</h7>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="col-md-12">
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Author:
                                                                </span>
                                                                <span class="m--font-info">
                                                                    Sestra sa kartoteke
                                                                </span>
                                                            </span>
                                                            <span class="col-lg-12">
                                                                <span class="">
                                                                    Released:
                                                                </span>
                                                                <span class=" m--font-info">
                                                                    25.08.17
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_2_head" data-toggle="collapse" href="#m_accordion_1_item_2_body" aria-expanded="false">
                        <span class="m-accordion__item-icon"><i class="fa flaticon-user-ok"></i></span>
                        <span class="m-accordion__item-title">Završeni pregledi</span>
                        <span class="m-accordion__item-mode"></span>
                    </div>

                    <div class="m-accordion__item-body collapse" id="m_accordion_1_item_2_body" role="tabpanel" aria-labelledby="m_accordion_1_item_2_head" data-parent="#m_accordion_1" style="">
                        <div class="m-accordion__item-content">
                            <p>
                                <div id="">
                                    <ul id="sortable" class="row d-flex list-unstyled sortable">
                                        <li class="col-lg-4 ui-state-default">
                                            <div class="m-portlet m-portlet--mobile m-portlet--sortable" style="">
                                                <div class="m-portlet__body m-portlet__head ui-sortable-handle">
                                                    <div class="m-card-profile__details">
                                                        <h6 class="">
                                                            <span class="m-badge  m-badge--success m-badge--wide">Zakzano vrijeme</span>
                                                        </h6>
                                                    </div>
                                                    <h6 class="pull-right"><i class="flaticon-calendar text-success"></i>&nbsp; 10:00 - 10:20 </h6>
                                                </div>
                                                <div class="m-portlet__body p-3 row">
                                                    <div class="m-card-profile col-lg-4">
                                                        <div class="m-card-profile__title m--hide">
                                                            Your Profile
                                                        </div>
                                                        <div class="m-card-profile__pic">
                                                            <div class="m-card-profile__pic-wrapper mt-2 mb-2">
                                                                <img src="/app/media/img/users/user3.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget5__section col-lg-8">
                                                        <h6 class="m-widget5__title">Kontrola</h6>
                                                        <span class="">Pacijentu potrebna kontrola, popravak zuba...</span>
                                                    </div>
                                                    <div class="col-lg-12 row">
                                                        <div class="col-lg-4 text-center">
                                                            <h6 class="">Mujo Mujić</h6>
                                                            <h6>BK: KA-224-C</h6>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="">
                                                                <span class="">
                                                                    Author:
                                                                </span>
                                                                <span class="m--font-info">
                                                                    Sestra sa kartoteke
                                                                </span>
                                                                <span class="">
                                                                    Released:
                                                                </span>
                                                                <span class=" m--font-info">
                                                                    23.08.17
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-lg-4 ui-state-default">
                                            <div class="m-portlet m-portlet--mobile m-portlet--sortable" style="">
                                                <div class="m-portlet__body m-portlet__head ui-sortable-handle">
                                                    <div class="m-card-profile__details">
                                                        <h6 class="">
                                                            <span class="m-badge  m-badge--danger m-badge--wide">Hitan slučaj</span>
                                                        </h6>
                                                    </div>
                                                    <h6 class="pull-right"><i class="flaticon-calendar text-success"></i>&nbsp; 10:20 - 10:40 </h6>
                                                </div>
                                                <div class="m-portlet__body p-3 row">
                                                    <div class="m-card-profile col-lg-4">
                                                        <div class="m-card-profile__title m--hide">
                                                            Your Profile
                                                        </div>
                                                        <div class="m-card-profile__pic">
                                                            <div class="m-card-profile__pic-wrapper mt-2 mb-2">
                                                                <img src="/app/media/img/users/user4.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget5__section col-lg-8">
                                                        <h6 class="m-widget5__title">Protetika</h6>
                                                        <span class="">Pregled za protetiku, lorem lorem lorem...</span>
                                                    </div>
                                                    <div class="col-lg-12 row">
                                                        <div class="col-lg-4 text-center">
                                                            <h6>BK: KA-110-B</h6>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="">
                                                                <span class="">
                                                                    Author:
                                                                </span>
                                                                <span class="m--font-info">
                                                                    Sestra sa kartoteke
                                                                </span>
                                                                <span class="">
                                                                    Released:
                                                                </span>
                                                                <span class=" m--font-info">
                                                                    23.08.17
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_3_head" data-toggle="collapse" href="#m_accordion_1_item_3_body" aria-expanded="false">
                        <span class="m-accordion__item-icon"><i class="fa flaticon-close"></i></span>
                        <span class="m-accordion__item-title">Otkazani termini</span>
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse" id="m_accordion_1_item_3_body" role="tabpanel" aria-labelledby="m_accordion_1_item_3_head" data-parent="#m_accordion_1">
                        <div class="m-accordion__item-content">
                            <p>
                                <div id="">
                                    <ul id="sortable" class="row d-flex list-unstyled sortable">
                                        <li class="col-lg-4 ui-state-default">
                                            <div class="m-portlet m-portlet--mobile m-portlet--sortable" style="">
                                                <div class="m-portlet__body m-portlet__head ui-sortable-handle">
                                                    <div class="m-card-profile__details">
                                                        <h6 class="">
                                                            <span class="m-badge m-badge--success m-badge--wide">Zakzano vrijeme</span>
                                                        </h6>
                                                    </div>
                                                    <h6 class="pull-right"><i class="flaticon-calendar text-success"></i>&nbsp; 10:00 - 10:20 </h6>
                                                </div>
                                                <div class="m-portlet__body p-3 row">
                                                    <div class="m-card-profile col-lg-4">
                                                        <div class="m-card-profile__title m--hide">
                                                            Your Profile
                                                        </div>
                                                        <div class="m-card-profile__pic">
                                                            <div class="m-card-profile__pic-wrapper mt-2 mb-2">
                                                                <img src="/app/media/img/users/user3.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="text-center">
                                                            <h6 class="">Mujo Mujić</h6>
                                                            <h7>KA-224-C</h7>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget5__section col-lg-8 text-justify" style="position: relative;">
                                                        <span style="position: absolute; top: 50%; transform: translate(0, -50%); padding-right: inherit;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis felis ac erat congue interdum. Phasellus at diam suscipit, efficitur mauris vitae, accumsan risus.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <!--end::Item-->
            </div>
        </div>
    </div>
</div>

@section scripts{
    @*<script src="~/demo/default/custom/components/portlets/draggable.min.js"></script>*@
    <script src="~/vendors/custom/jquery-ui/jquery-ui.bundle.min.js"></script>
    <script>
        var PortletDraggable = {
            init: function () {
                $(".sortable").sortable({
                    coneHelperSize: !0,
                    opacity: .8,
                    placeholder: "m-portlet--sortable-placeholder",
                    delay: false,
                    forcePlaceholderSize: !0,
                    revert: 300
                });
                $("#sortable").disableSelection();
            }
        };
        jQuery(document).ready(function () {
            PortletDraggable.init()
        });
    </script>
}
